[submodule "protocol"]
	path = protocol
	url = https://github.com/livekit/protocol.git
[submodule "psrpc"]
	path = psrpc
	url = https://github.com/livekit/psrpc.git
[submodule "websockets_api"]
	path = websockets_api
	url = https://github.com/ArtiomKhachaturian/Websockets-API.git
